
.container{
  /* background-color: #eee; */
  width: 800px;
  margin: 0 auto;
}
.main_card{
  box-shadow: 0 1px 2px #ccc;
  width: 270px;
  transition: all .15s ease-in-out;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 200px;

}
.main_card:hover{
  transform: translate3d(0, -5px, 0);
  transition: 200ms;
  transition-timing-function: ease-in-out;
  box-shadow: 10px 10px 40px rgba(168, 182, 191, .7);
}
.card{
border-top-right-radius: 10px;
border-top-left-radius: 10px;
  width: 270px;
  height: 200px;
  background-image: url('fff.png');
  background-repeat: no-repeat;
}

.avatar{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-around;
  display: flex;
  width: 270px;
  height: 50px;
  background-color: #fff;
}
.avatar div{
  margin-top: 14px;
}
.user{
}
.user img{
  margin-top: -10px;
  width: 43%;
  border-radius: 50%;
}
.name >*{
  margin-left: -50px;
}
.name div{
  margin-top: -10px;
}
.name a{
  text-decoration: none;
color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}
