
body{
  background-color: #eee;
}
.header{
  height: 40px;
  background-color: #2886af;
  text-align: center;
}
.container{
  background-color: #fff;
  width: 800px;
  margin: 0px auto;
}
.content{
  padding:10px;
}
.nav{

  float: left;
  width: 180px;
}
.nav ul{
  color: rgb(205, 83, 83);
  list-style-type: none;
}
.nav a{
  line-height: 1.7;
  text-decoration: none;
}
.nav .seleted{
  font-weight: bold;
}
.main{
  float: right;
  width: 590px;
}
.footer{
  color: #999;
  text-align: center;
  clear: both;
}
.clearboth{
  clear: both;
}

.container,
/*.header,*/
h1,
.main,
.nav,
.footer{
  border: 1px solid #000;
}
