body {
    background-color: rgba(0, 0, 0, 0.233);
}

.none {
    display: none !important;
}

.content {
    margin: 0 auto;
    width: 1100px;
}

.gridContainer {
    border: 1px solid rgb(32, 3, 2);
    width: 1100px;
    display: grid;
    height: 1100px;
    /* grid-template-columns: 1fr 2fr 2fr 1fr; */
    /*四列*/
    /* grid-template-rows: 1fr 2fr 3fr 1fr; */
    /*三行*/
    /*或者直接写像素值*/
    grid-template-columns: 180px 180px 120px 180px;
    grid-template-rows: 180px 180px 120px 180px;
    grid-gap: 20px;
    /*网格之间的间隙；网格margin*/
    justify-content: center;
    /* 网格内元素在网格容器内居中 */
    /* align-items: center; */
    /* 网格内元素Y轴居中 */
    /* justify-items: center; */
    /*在网格内X轴居中*/
}

.grid-item {
    /* width: 100px; */
    border: 1px solid #f5aaaa;
    column-rule-color: aqua;
    padding: 30px;
    background-color: rgb(248, 53, 128);
}

